<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- build:css ./bootstrap/bootstrap.min.css-->
    <link href="src/libs/bootstrap/bootstrap.css" rel="stylesheet"/>
    <!-- endbuild -->
    <!-- build:css ./bootstrap/bootstrap-theme.min.css-->
    <link href="src/libs/bootstrap/bootstrap-theme.css" rel="stylesheet"/>
    <!-- endbuild -->
    <!-- build:css ./css/style.min.css -->
    <link href="src/css/variables.css" rel="stylesheet"/>
    <link href="src/css/main.css" rel="stylesheet"/>
    <link href="src/css/sub.css" rel="stylesheet"/>
    <!-- endbuild -->


</head>
<body ng-app="productManagement"
      ng-controller="mainController as vm">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Acme product Management</div>
            <form ng-hide="vm.isLoggedIn" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="username (email)"
                           ng-model="vm.userData.email"/>
                </div>
                <div class="form-group">
                    <input type="password"
                           class="form-control"
                           placeholder="password"
                           ng-model="vm.userData.password"/>
                </div>
                <button type="submit" class="btn btn-default" ng-click="vm.login()">Login</button>
                <button type="submit" class="btn btn-default" ng-click="vm.registerUser()">Register</button>

                <div ng-show="vm.message">{{vm.message}}</div>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="vm.isLoggedIn"
         ng-include="'src/app/products/productEditView.html'"></div>
</div>
</body>


<!-- build:js ./jquery/jquery.min.js -->
<script src="src/libs/jquery/jquery.js"></script>
<!-- endbuild -->
<!-- build:js ./angular/angular.min.js -->
<script src="src/libs/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:js ./angular/angular-resource.min.js -->
<script src="src/libs/angular/angular-resource.js"></script>
<!-- endbuild -->
<!-- build:js ./bootstrap/bootstrap.min.js -->
<script src="src/libs/bootstrap/bootstrap.js"></script>
<!-- endbuild -->
<!-- build:js ./scripts.min.js -->
<script src="src/app/app.js"></script>
<script src="src/app/common/common.services.js"></script>
<script src="src/app/common/userAccount.js"></script>
<script src="src/app/common/productResource.js"></script>
<script src="src/app/products/productListController.js"></script>
<script src="src/app/products/productEditController.js"></script>

<script src="src/app/products/mainController.js"></script>
<!-- endbuild -->


</html>