<form name="productForm"
      class="form-horizontal"
      ng-controller="productEditController as vm">
    <fieldset>
        <legend>Basic product info</legend>
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">

            <label for="inputProductName" class="col-md-2 control-label">Product Name</label>

            <div class="col-md-4">
                <input id="inputProductName"
                       name="inputProductName"
                       control
                       class="form-control"
                       type="text"
                       ng-model="vm.product.productName"
                       placeholder="Enter product name here... (required)"
                       ng-minlength="4"
                       ng-maxlength="12"
                       required/>
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                    Name is required
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    min length is 4
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    max length is 12
                </span>
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductCode.$invalid &&
                                    productForm.inputProductCode.$dirty }">
            <label for="inputProductCode" class="col-md-2 control-label">Product Code</label>

            <div class="col-md-4">
                <input id="inputProductCode"
                       name="inputProductCode"
                       class="form-control"
                       type="text"
                       ng-model="vm.product.productCode"
                       required/>
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputProductCode.$invalid">
                    Code is required
                </span>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="inputAvailabilityDate">
                AvailabilityDate
            </label>

            <div class="col-md-4">
                <div class="input-group">
                    {{vm.product.releaseDate|date}}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputDescription" class="col-md-2 control-label">Description</label>

            <div class="col-md-10">
            <textarea id="inputDescription"
                      class="form-control"
                      placeholder="Enter description..."
                      ng-model="vm.product.description"
                      rows="3"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width: 80px;margin-right: 10px;"
                            ng-click="vm.submit(productForm.$valid)"
                            >
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width: 70px;"
                            ng-click="vm.cancel(productForm)"
                            >
                        Cancel
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group"
             ng-show="vm.message">
            <div class="col-md-6">
                <pre style="font:inherit">{{vm.message}}</pre>

            </div>
        </div>


    </fieldset>

</form>


<!--<from class="form-horizontal"-->
<!--id="productForm"-->
<!--name="productForm"-->
<!--novalidate-->
<!--ng-controller="productEditController as vm">-->
<!--<fieldSet>-->
<!--<legend>Basic Product Information</legend>-->
<!--<div class="form-group"-->
<!--ng-class="{'has-error': productForm.inputProductCode.$invalide &&-->
<!--productForm.inputProductCode.$dirty}">-->
<!--<label class="col-md-2 control-label"-->
<!--for="inputProductCode">Product Code</label>-->

<!--<div class="col-md-4">-->
<!--<input class="form-control"-->
<!--id="inputProductCode"-->
<!--name="inputProductCode"-->
<!--type="text"-->
<!--placeholder="Product Code(required)"-->
<!--ng-model="vm.product.productCode"-->
<!--required/>-->
<!--</div>-->
<!--<span class="help-block has-error">-->
<!--<span ng-show="productForm.inputProductCode.$error.required">-->
<!--Product code is required-->
<!--</span>-->
<!--</span>-->

<!--</div>-->

<!--<div class="form-group">-->
<!--<label class="col-md-2 control-label"-->
<!--for="inputAvailabilityDate">Availability</label>-->

<!--<div class="col-md-4">-->
<!--<div class="form-control">-->
<!--{{vm.product.releaseDate|date}}-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--<div class="form-group">-->
<!--<div class="col-md-4 col-md-offset-2">-->
<!--<span>-->
<!--<button class="btn btn-primary"-->
<!--style="width: 80px;margin-right: 10px;"-->
<!--ng-click="vm.submit()"-->
<!--ng-disabled="productForm.$invalid">-->
<!--Save-->
<!--</button>-->
<!--</span>-->
<!--<span>-->
<!--<button class="btn btn-default"-->
<!--style="width:70px"-->
<!--ng-click="vm.cancel(productForm)">-->
<!--Cancel-->
<!--</button>-->
<!--</span>-->

<!--</div>-->
<!--</div>-->


<!--<div class="form-group" ng-show="vm.message">-->
<!--<div class="col-md-6">-->
<!--<pre style="font:inherit">{{vm.message}}</pre>-->
<!--</div>-->
<!--</div>-->
<!--</fieldSet>-->


<!--</from>-->