<div class="panel panel-primary" ng-controller="productListController as vm">
    <div class="panel-heading" style="font-size:large">
        Product List
    </div>

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Product</td>
                    <td>code</td>
                    <td>Available</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in vm.products">
                <td>{{product.productName}}</td>
                <td>{{product.productCode}}</td>
                <td>{{product.releaseDate | date}}</td>
                <td>{{product.price | currency}}</td>
            </tr>

            </tbody>

        </table>

    </div>

</div>