.wizard a {
  background: #efefef;
  display: inline-block;
  margin-right: 5px;
  min-width: 150px;
  outline: none;
  padding: 10px 40px 10px;
  position: relative;
  text-decoration: none;
}
.wizard .active {
  background: #007ACC;
  color: #fff;
}
