<form name="productForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Basic product info</legend>
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
             productForm.inputProductName.$dirty}">

            <label for="inputProductName" class="col-md-2 control-label">Product Name</label>

            <div class="col-md-4">
                <input id="inputProductName"
                       name="inputProductName"
                       control
                       class="form-control"
                       type="text"
                       ng-model="vm.product.productName"
                       placeholder="Enter product name here... (required)"
                       ng-minlength="4"
                       ng-maxlength="12"
                       required/>
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                    Name is required
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    min length is 4
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    max length is 12
                </span>
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductCode.$invalid &&
             productForm.inputProductCode.$dirty }">
            <label for="inputProductCode" class="col-md-2 control-label">Product Code</label>

            <div class="col-md-4">
                <input id="inputProductCode"
                       name="inputProductCode"
                       class="form-control"
                       type="text"
                       ng-model="vm.product.productCode"
                       ui-mask="AA-**** (required)"
                       required/>
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputProductCode.$invalid">
                    Code is required
                </span>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="inputAvailabilityDate">
                AvailabilityDate
            </label>

            <div class="col-md-4">
                <div class="input-group">
                    <input class="form-control"
                           id="inputAvailabilityDate"
                           type="text"
                           datepicker-popup="dd MMM, yyyy"
                           ng-model="vm.product.releaseDate"
                           is-open="vm.opened"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputDescription" class="col-md-2 control-label">Description</label>

            <div class="col-md-10">
            <textarea id="inputDescription"
                      class="form-control"
                      placeholder="Enter description..."
                      ng-model="vm.product.description"
                      rows="3"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width: 80px;margin-right: 10px;"
                            ng-click="vm.submit(productForm.$valid)"
                            >
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width: 70px;"
                            ng-click="vm.cancel()"
                            >
                        Cancel
                    </button>
                </span>
            </div>
        </div>


    </fieldset>

</form>