<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large;">
        {{vm.title}}
    </div>
    <div class="panel-body">
        <div class="wizard">
            <a ui-sref=".info"
               ui-sref-active="active">Basic Info
            </a>
            <a ui-sref=".price"
               ui-sref-active="active">Price details
            </a>
            <a ui-sref=".tags"
               ui-sref-active="active">Search tags
            </a>
        </div>

        <div ui-view></div>

    </div>
</div>