<div class="panel panel-primary"
     ng-controller="productListController as vm">

    <div class="panel-heading"
         style="font-size:large">
        Product List
    </div>

    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <td>Product</td>
                <td>code</td>
                <td>Available</td>
                <td>Price</td>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products">
                    <td><a ui-sref="productDetailState({productId: product.productId})">{{product.productName}}</a></td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.releaseDate | date}}</td>
                    <td>{{product.price | currency}}</td>
                    <td>
                        <a class="btn btn-primary"
                           ui-sref="productEditState.info({productId: product.productId})">Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>